# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
midnight_log.txt
projeto_completo.txt
*.log

legacy/
Lunar/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Backups
registry_backups/

license_generator_firebase.py